<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.0"?>
<plugin>

   <extension
         point="org.eclipse.ui.views">
      <category
            name="%net.sourceforge.sqlexplorer.name"
            id="SQLExplorerPlugin">
      </category>
      <view
            allowMultiple="false"
            category="SQLExplorerPlugin"
            class="net.sourceforge.sqlexplorer.plugin.views.DatabaseStructureView"
            icon="icons/tree_mode.gif"
            id="net.sourceforge.sqlexplorer.plugin.views.DatabaseStructureView"
            name="%net.sourceforge.sqlexplorer.view.databaseStructure.title"/>
      <view
            allowMultiple="false"
            category="SQLExplorerPlugin"
            class="net.sourceforge.sqlexplorer.plugin.views.DatabaseDetailView"
            icon="icons/app_obj.gif"
            id="net.sourceforge.sqlexplorer.plugin.views.DatabaseDetailView"
            name="%net.sourceforge.sqlexplorer.view.databaseDetails.title"/>
      <view
            allowMultiple="false"
            category="SQLExplorerPlugin"
            class="net.sourceforge.sqlexplorer.connections.ConnectionsView"
            icon="icons/alias.gif"
            id="net.sourceforge.sqlexplorer.connections.ConnectionsView"
            name="%net.sourceforge.sqlexplorer.view.connections.title">
      </view>
      <view
            allowMultiple="false"
            category="SQLExplorerPlugin"
            class="net.sourceforge.sqlexplorer.plugin.views.SQLHistoryView"
            icon="icons/sql_history.gif"
            id="net.sourceforge.sqlexplorer.plugin.views.SQLHistoryView"
            name="%net.sourceforge.sqlexplorer.view.sqlHistory.title">
      </view>
      <view
            allowMultiple="false"
            category="SQLExplorerPlugin"
            class="net.sourceforge.sqlexplorer.plugin.views.DataPreviewView"
            id="net.sourceforge.sqlexplorer.plugin.views.DataPreviewView"
            name="%net.sourceforge.sqlexplorer.view.dataPreview.title">
      </view>
   </extension>
   <extension
         point="org.eclipse.ui.perspectives">
      <perspective
            class="net.sourceforge.sqlexplorer.plugin.perspectives.SQLExplorerPluginPerspective"
            fixed="false"
            icon="icons/logo16.gif"
            id="net.sourceforge.sqlexplorer.plugin.perspectives.SQLExplorerPluginPerspective"
            name="%net.sourceforge.sqlexplorer.name">
      </perspective>
   </extension>
   <extension
         point="org.eclipse.ui.preferencePages">
      <page
            class="net.sourceforge.sqlexplorer.preferences.GeneralPreferencePage"
            id="net.sourceforge.sqlexplorer.preferences.GeneralPreferencePage"
            name="%net.sourceforge.sqlexplorer.name">
      </page>
      <page class="net.sourceforge.sqlexplorer.preferences.DriverPreferencePage" 
      		category="net.sourceforge.sqlexplorer.preferences.GeneralPreferencePage" 
      		name="%net.sourceforge.sqlexplorer.preferences.jdbc.title" 
      		id="net.sourceforge.sqlexplorer.preferences.DriverPreferencePage"/>
      <page
            name="%net.sourceforge.sqlexplorer.preferences.sqlEditor.title"
            category="net.sourceforge.sqlexplorer.preferences.GeneralPreferencePage"
            class="net.sourceforge.sqlexplorer.preferences.SQLPreferencePage"
            id="net.sourceforge.sqlexplorer.preferences.SQLPreferencePage">
      </page>
      <page
            category="net.sourceforge.sqlexplorer.preferences.GeneralPreferencePage"
            class="net.sourceforge.sqlexplorer.preferences.ConfirmationsPreferencePage"
            id="net.sourceforge.sqlexplorer.preferences.ConfirmationsPreferencePage"
            name="%net.sourceforge.sqlexplorer.preferences.confirmations.title"/>
      <page class="net.sourceforge.sqlexplorer.preferences.ResultsPreferencePage" 
      		category="net.sourceforge.sqlexplorer.preferences.GeneralPreferencePage" 
      		name="%net.sourceforge.sqlexplorer.preferences.results.title" 
      		id="net.sourceforge.sqlexplorer.preferences.ResultsPreferencePage"/>
      <page class="net.sourceforge.sqlexplorer.preferences.BatchResultsPreferencePage" 
      		category="net.sourceforge.sqlexplorer.preferences.GeneralPreferencePage" 
      		name="%net.sourceforge.sqlexplorer.preferences.batchResults.title" 
      		id="net.sourceforge.sqlexplorer.preferences.BatchResultsPreferencePage"/>
      <page class="net.sourceforge.sqlexplorer.preferences.HistoryPreferencePage" 
      		category="net.sourceforge.sqlexplorer.preferences.GeneralPreferencePage" 
      		name="%net.sourceforge.sqlexplorer.preferences.history.title" 
      		id="net.sourceforge.sqlexplorer.preferences.HistoryPreferencePage"/>
   </extension>
   <extension
         id="editors"
         point="org.eclipse.ui.editors">
      <editor
            class="net.sourceforge.sqlexplorer.plugin.editors.SQLEditor"
            contributorClass="net.sourceforge.sqlexplorer.plugin.editors.SqlExplorerEditorActionBarContributor"
            default="true"
            extensions="sql"
            icon="icons/editor.gif"
            id="net.sourceforge.sqlexplorer.plugin.editors.SQLEditor"
            name="%net.sourceforge.sqlexplorer.editor.sql.title">
      </editor>
      <editor
            class="net.sourceforge.sqlexplorer.filelist.FileListEditor"
            default="true"
            extensions="fls"
            icon="icons/filelist.gif"
            id="net.sourceforge.sqlexplorer.filelist.FileListEditor"
            name="%net.sourceforge.sqlexplorer.editor.fileList.title"/>
   </extension>
   <extension point="org.eclipse.ui.viewActions">
      <viewContribution
            id="net.sourceforge.sqlexplorer.connections.actions.commit"
            targetID="net.sourceforge.sqlexplorer.connections.ConnectionsView">
         <action
               class="net.sourceforge.sqlexplorer.connections.actions.CommitAction"
               enablesFor="1"
               icon="icons/commit.gif"
               id="net.sourceforge.sqlexplorer.actions.commit"
               label="%net.sourceforge.sqlexplorer.action.commit"
               toolbarPath="additions"
               tooltip="%net.sourceforge.sqlexplorer.action.commit">
         </action>
      </viewContribution>     
      <viewContribution
            id="net.sourceforge.sqlexplorer.connections.actions.rollback"
            targetID="net.sourceforge.sqlexplorer.connections.ConnectionsView">
         <action
               class="net.sourceforge.sqlexplorer.connections.actions.RollbackAction"
               enablesFor="1"
               icon="icons/rollback.gif"
               id="net.sourceforge.sqlexplorer.actions.rollback"
               label="%net.sourceforge.sqlexplorer.action.rollBack"
               toolbarPath="additions"
               tooltip="%net.sourceforge.sqlexplorer.action.rollBack">
         </action>
      </viewContribution>
      <viewContribution
            id="net.sourceforge.sqlexplorer.connections.actions.closeAll"
            targetID="net.sourceforge.sqlexplorer.connections.ConnectionsView">
         <action
               class="net.sourceforge.sqlexplorer.connections.actions.CloseAllConnectionsAction"
               disabledIcon="icons/removeall_dis.gif"
               enablesFor="*"
               icon="icons/removeAll_co.gif"
               id="net.sourceforge.sqlexplorer.actions.closeAll"
               label="%net.sourceforge.sqlexplorer.action.closeAllConnections"
               toolbarPath="additions"
               tooltip="%net.sourceforge.sqlexplorer.action.closeAllConnections">
         </action>
      </viewContribution>
      <viewContribution
            id="net.sourceforge.sqlexplorer.connections.actions.close"
            targetID="net.sourceforge.sqlexplorer.connections.ConnectionsView">
         <action
               class="net.sourceforge.sqlexplorer.connections.actions.CloseConnectionAction"
               disabledIcon="icons/remove_dis.gif"
               enablesFor="*"
               icon="icons/remove_att.gif"
               id="net.sourceforge.sqlexplorer.actions.close"
               label="%net.sourceforge.sqlexplorer.action.closeConnection"
               toolbarPath="additions"
               tooltip="%net.sourceforge.sqlexplorer.action.closeConnection">
         </action>
      </viewContribution>

      <viewContribution
            id="net.sourceforge.sqlexplorer.connections.actions.NewEditor"
            targetID="net.sourceforge.sqlexplorer.connections.ConnectionsView">
         <action
               label="%net.sourceforge.sqlexplorer.action.newSqlEditor"
               icon="icons/new_editor.gif"
               class="net.sourceforge.sqlexplorer.connections.actions.NewEditorAction"
               tooltip="%net.sourceforge.sqlexplorer.action.newSqlEditor"
               enablesFor="*"
               toolbarPath="additions"
               id="net.sourceforge.sqlexplorer.actions.newEditor">
         </action>
      </viewContribution>
   </extension>
   <extension
         point="org.eclipse.ui.newWizards">
      <category
            name="%net.sourceforge.sqlexplorer.name"
            id="net.sourceforge.sqlexplorer.new">
      </category>
      <wizard
            name="%net.sourceforge.sqlexplorer.preferences.sqlEditor.title"
            icon="icons/edittsk_tsk.gif"
            category="net.sourceforge.sqlexplorer.new"
            class="net.sourceforge.sqlexplorer.plugin.wizards.NewSQLEditorWizard"
            id="net.sourceforge.sqlexplorer.plugin.wizards.sqleditor">
         <description>
            %net.sourceforge.sqlexplorer.wizard.newSqlEditor.description
         </description>
         <selection
               class="org.eclipse.core.resources.IResource">
         </selection>
      </wizard>
   </extension>
   <extension
         point="org.eclipse.ui.actionSets">
	<actionSet
		label="%net.sourceforge.sqlexplorer.about"
		visible="true"
		id="net.sourceforge.sqlexplorer.about">
		<action
        class="net.sourceforge.sqlexplorer.plugin.actions.About"
        icon="icons/logo16.gif"
        id="org.eclipse.ui.cheatsheets.actions.CheatSheetHelpMenuAction"
        label="%net.sourceforge.sqlexplorer.about"
        menubarPath="help/about">
		</action>
	</actionSet>
   </extension>

   <extension-point id="nodeContextAction" name="Database Structure Node Context Menu Action" schema="schema/nodeContextAction.exsd"/>
   <extension-point id="node" name="Database Structure Node" schema="schema/node.exsd"/>
   <extension-point id="nodeDetailTab" name="Database Structure Node Detail Tab" schema="schema/nodeDetailTab.exsd"/>
   <extension-point id="dataSetTableContextAction" name="Table Context Menu Action" schema="schema/dataSetTableContextAction.exsd"/>
   <extension-point id="editorAction" name="SQL Editor Action" schema="schema/editorAction.exsd"/>
   <extension-point id="explainPlanContextAction" name="Explain Plan Context Action" schema="schema/explainPlanContextAction.exsd"/>
   <extension-point id="databaseProduct" name="Database product Implementation" schema="schema/databaseProduct.exsd"/>

   <extension
         id="nodeContextAction"
         point="net.sourceforge.sqlexplorer.nodeContextAction">
      <action
            class="net.sourceforge.sqlexplorer.dbstructure.actions.RefreshNodeAction"
            database-product-name="*"
            id="sqlexplorer.dbstructure.actions.RefreshNodeAction"
            name="%net.sourceforge.sqlexplorer.action.node.refresh"
            node-type="*"/>
      <action
            class="net.sourceforge.sqlexplorer.dbstructure.actions.CopyNodeNameAction"
            database-product-name="*"
            id="sqlexplorer.dbstructure.actions.CopyNodeNameAction"
            name="%net.sourceforge.sqlexplorer.action.node.copy"
            node-type="*"/>
      <action
            class="net.sourceforge.sqlexplorer.dbstructure.actions.InsertTextAction"
            database-product-name="*"
            id="sqlexplorer.dbstructure.actions.InsertTextAction"
            name="%net.sourceforge.sqlexplorer.action.node.copyToEditor"
            node-type="*"/>
      <action
            class="net.sourceforge.sqlexplorer.dbstructure.actions.GenerateSelectSQLAction"
            database-product-name="*"
            id="sqlexplorer.dbstructure.actions.GenerateSelectSQLAction"
            name="%net.sourceforge.sqlexplorer.action.node.generateSelect"
            node-type="table,column"/>
      <action
            class="net.sourceforge.sqlexplorer.dbstructure.actions.GenerateInsertSQLAction"
            database-product-name="*"
            id="sqlexplorer.dbstructure.actions.CreateInsertSQLAction"
            name="%net.sourceforge.sqlexplorer.action.node.generateInsert"
            node-type="table,column"/>
      <action
            class="net.sourceforge.sqlexplorer.dbstructure.actions.CreateTableScriptAction"
            database-product-name="*"
            id="sqlexplorer.dbstructure.actions.CreateTableScriptAction"
            name="%net.sourceforge.sqlexplorer.action.node.generateTable"
            node-type="table"/>
      <action
            class="net.sourceforge.sqlexplorer.dbstructure.actions.RemoveNodeFilterAction"
            database-product-name="*"
            id="sqlexplorer.dbstructure.actions.RemoveNodeFilterAction"
            name="%net.sourceforge.sqlexplorer.action.node.removeFilter"
            node-type="database"/>
   </extension>
   <extension
         id="dataSetTableContextAction"
         point="net.sourceforge.sqlexplorer.dataSetTableContextAction">
      <action
            class="net.sourceforge.sqlexplorer.sqleditor.results.actions.CopyTableAction"
            id="net.sourceforge.sqlexplorer.sqleditor.results.actions.CopyTableAction"
            name="%net.sourceforge.sqlexplorer.action.table.copyTable"/>            
      <action
            class="net.sourceforge.sqlexplorer.sqleditor.results.actions.CopyCellAction"
            id="net.sourceforge.sqlexplorer.sqleditor.results.actions.CopyCellAction"
            name="%net.sourceforge.sqlexplorer.action.table.copyCell"/>
      <action
            class="net.sourceforge.sqlexplorer.sqleditor.results.actions.CopyColumnAction"
            id="net.sourceforge.sqlexplorer.sqleditor.results.actions.CopyColumnAction"
            name="%net.sourceforge.sqlexplorer.action.table.copyColumn"/>
      <action
            class="net.sourceforge.sqlexplorer.sqleditor.results.actions.CopyColumnNameAction"
            id="net.sourceforge.sqlexplorer.sqleditor.results.actions.CopyColumnNameAction"
            name="%net.sourceforge.sqlexplorer.action.table.copyColumnName"/>            
      <action
            class="net.sourceforge.sqlexplorer.sqleditor.results.actions.CopyRowAction"
            id="net.sourceforge.sqlexplorer.sqleditor.results.actions.CopyRowAction"
            name="net.sourceforge.sqlexplorer.action.table.copyRow"/>
   </extension>
   <extension
         point="org.eclipse.ui.commands">
      <category
            id="net.sourceforge.sqlexplorer.commands"
            name="%net.sourceforge.sqlexplorer.editor.sql.title">
      </category>
      <command
            categoryId="net.sourceforge.sqlexplorer.commands"
            defaultHandler="net.sourceforge.sqlexplorer.sqleditor.handlers.ExecSQLHandler"
            description="%net.sourceforge.sqlexplorer.executeSQL.tooltip"
            id="net.sourceforge.sqlexplorer.executeSQL"
            name="%net.sourceforge.sqlexplorer.executeSQL.text">
      </command>
      <command
            categoryId="net.sourceforge.sqlexplorer.commands"
            defaultHandler="net.sourceforge.sqlexplorer.sqleditor.handlers.ExecSQLBatchHandler"
            description="%net.sourceforge.sqlexplorer.executeSQLBatch.tooltip"
            id="net.sourceforge.sqlexplorer.executeSQLBatch"
            name="%net.sourceforge.sqlexplorer.executeSQLBatch.text">
      </command>
      <command
            categoryId="net.sourceforge.sqlexplorer.commands"
            defaultHandler="net.sourceforge.sqlexplorer.sqleditor.handlers.ExecSQLChunkHandler"
            description="%net.sourceforge.sqlexplorer.executeSQLChunk.tooltip"
            id="net.sourceforge.sqlexplorer.executeSQLChunk"
            name="%net.sourceforge.sqlexplorer.executeSQLChunk.text">
      </command>
   </extension>
   <extension
         point="org.eclipse.ui.bindings">
      <key
            commandId="net.sourceforge.sqlexplorer.executeSQL"
            contextId="net.sourceforge.sqlexplorer.sqlEditorScope"
            schemeId="org.eclipse.ui.defaultAcceleratorConfiguration"
            sequence="M1+ENTER">
      </key>
      <key
            commandId="net.sourceforge.sqlexplorer.executeSQLBatch"
            contextId="net.sourceforge.sqlexplorer.sqlEditorScope"
            schemeId="org.eclipse.ui.defaultAcceleratorConfiguration"
            sequence="M1+M3+E">
      </key>
      <key
            commandId="net.sourceforge.sqlexplorer.executeSQLChunk"
            contextId="net.sourceforge.sqlexplorer.sqlEditorScope"
            schemeId="org.eclipse.ui.defaultAcceleratorConfiguration"
            sequence="M1+M3+ENTER">
      </key>
   </extension>
   <extension
         point="org.eclipse.ui.contexts">
      <context
            description="%net.sourceforge.sqlexplorer.editor.sql.title"
            id="net.sourceforge.sqlexplorer.sqlEditorScope"
            name="%net.sourceforge.sqlexplorer.editor.sql.title"
            parentId="org.eclipse.ui.textEditorScope">
      </context>
   </extension>
   <extension
         point="org.eclipse.ui.menus">
      <menuContribution
            locationURI="popup:#TextEditorContext?after=additions">
         <separator
               name="net.sourceforge.sqlexplorer.execs"
               visible="true">
         </separator>
         <command
               commandId="net.sourceforge.sqlexplorer.executeSQL"
               icon="icons/run_exc.gif"
               id="net.sourceforge.sqlexplorer.executeSQL.item"
               tooltip="%net.sourceforge.sqlexplorer.executeSQL.tooltip">
               <visibleWhen
                     checkEnabled="false">
                     <reference
                           definitionId="net.sourceforge.sqlexplorer.editorActive">
                     </reference>
               </visibleWhen>
         </command>
         <command
               commandId="net.sourceforge.sqlexplorer.executeSQLChunk"
               icon="icons/run_exc_chunk.gif"
               id="net.sourceforge.sqlexplorer.executeSQLchunk.item"
               tooltip="%net.sourceforge.sqlexplorer.executeSQLChunk.tooltip">
               <visibleWhen
                     checkEnabled="false">
                     <reference
                           definitionId="net.sourceforge.sqlexplorer.editorActive">
                     </reference>
               </visibleWhen>
         </command>
         <command
               commandId="net.sourceforge.sqlexplorer.executeSQLBatch"
               icon="icons/run_exc_batch.gif"
               id="net.sourceforge.sqlexplorer.executeSQLBatch.item"
               tooltip="%net.sourceforge.sqlexplorer.executeSQLBatch.tooltip">
               <visibleWhen
                     checkEnabled="false">
                     <reference
                           definitionId="net.sourceforge.sqlexplorer.editorActive">
                     </reference>
               </visibleWhen>
         </command>
      </menuContribution>
   </extension>
   <extension
         point="org.eclipse.core.expressions.definitions">
      <definition
            id="net.sourceforge.sqlexplorer.editorActive">
             <with
                   variable="activeEditorId">
                   <equals
                         value="net.sourceforge.sqlexplorer.plugin.editors.SQLEditor">
                   </equals>
             </with>
      </definition>
   </extension>
</plugin>
