<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension
         point="org.eclipse.ui.views">
      <category
            id="org.neo4j.neoclipse"
            name="Neo4j">
      </category>
      <view
            allowMultiple="false"
            category="org.neo4j.neoclipse"
            class="org.neo4j.neoclipse.view.NeoGraphViewPart"
            icon="icons/enabled/neo.gif"
            id="org.neo4j.neoclipse.view.NeoGraphViewPart"
            name="Database graph">
      </view>
      <view
            category="org.neo4j.neoclipse"
            class="org.neo4j.neoclipse.reltype.RelationshipTypeView"
            icon="icons/enabled/types.gif"
            id="org.neo4j.neoclipse.reltype.RelationshipTypeView"
            name="Relationship types">
      </view>
   </extension>
   <extension
         point="org.eclipse.core.runtime.preferences">
      <initializer
            class="org.neo4j.neoclipse.preference.NeoPreferenceInitializer">
      </initializer>
      <initializer
            class="org.neo4j.neoclipse.preference.NeoDecoratorPreferenceInitializer">
      </initializer>
   </extension>
   <extension
         point="org.eclipse.ui.preferencePages">
      <page
            class="org.neo4j.neoclipse.preference.NeoPreferencePage"
            id="org.neo4j.neoclipse.preference.NeoPreferencePage"
            name="Neo4j">
      </page>
      <page
            class="org.neo4j.neoclipse.preference.NeoDecoratorPreferencePage"
            id="org.neo4j.neoclipse.preference.NeoDecoratorPreferencePage"
            name="Graph Decorations"
            category="org.neo4j.neoclipse.preference.NeoPreferencePage">
      </page>
   </extension>
   <extension
         point="org.eclipse.ui.perspectives">
      <perspective
            class="org.neo4j.neoclipse.perspective.NeoPerspectiveFactory"
            icon="icons/enabled/neo.gif"
            id="org.neo4j.neoclipse.NeoPerspective"
            name="Neo4j">
      </perspective>
   </extension>
   
    <extension
        id="org.neo4j.neoclipse.application"
        point="org.eclipse.core.runtime.applications">
        <application
        cardinality="singleton-global"
        thread="main"
        visible="true">
            <run
                class="org.neo4j.neoclipse.Application">
            </run>
        </application>
    </extension> 
    <extension id="neoclipseProduct" point="org.eclipse.core.runtime.products">
     <product name="Neoclipse" application="org.neo4j.neoclipse.application" description="Neoclipse Workbench">
        <property
              name="appName"
              value="Neoclipse">
        </property>
        <property
              name="startupForegroundColor"
              value="FFFFFF">
        </property>
        <property
              name="startupMessageRect"
              value="7,250,441,20">
        </property>
        <property
              name="startupProgressRect"
              value="0,280,455,15">
        </property>
        <property
              name="preferenceCustomization"
              value="plugin_customization.ini">
        </property>
        <property
              name="aboutImage"
              value="icons/splash.png">
        </property>
        <property
              name="windowImages"
              value="icons/obj16/neo-16.png,icons/obj16/neo-32.png,icons/obj16/neo-48.png,icons/obj16/neo-64.png,icons/obj16/neo-128.png">
        </property>
        <property
              name="aboutText"
              value="Neoclipse provides an easy to use GUI frontend to the Neo4j graph-oriented database.&#x0A;&#x0A;This software is realeased under the Apache License Version 2.">
        </property>
    </product>
  </extension>
    <extension
          point="org.eclipse.search.searchPages">
       <page
             class="org.neo4j.neoclipse.search.NeoSearchPage"
             icon="icons/enabled/neo.gif"
             id="org.neo4j.neoclipse.search.NeoSearchPage"
             label="Neo4j Search">
       </page>
    </extension>
    <extension
          point="org.eclipse.search.searchResultViewPages">
       <viewPage
             class="org.neo4j.neoclipse.search.NeoSearchResultPage"
             icon="icons/enabled/neo.gif"
             id="org.neo4j.neoclipse.search.NeoSearchResultPage"
             label="Neo4j Search Result"
             searchResultClass="org.neo4j.neoclipse.search.NeoSearchResult">
       </viewPage>
    </extension>
    <extension
          point="org.eclipse.ui.perspectiveExtensions">
       <perspectiveExtension
             targetID="org.eclipse.ui.resourcePerspective">
          <perspectiveShortcut
                id="org.neo4j.neoclipse.NeoPerspective">
          </perspectiveShortcut>
       </perspectiveExtension>
    </extension>
</plugin>
