<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.2"?>
<plugin>
   <extension
         point="org.eclipse.ui.views">
      <category
            id="org.neo4j.neoclipse.NeoCategory"
            name="Neo4j">
      </category>
      <view
            allowMultiple="false"
            category="org.neo4j.neoclipse.NeoCategory"
            class="org.neo4j.neoclipse.view.NeoGraphViewPart"
            icon="icons/obj16/neo-16.png"
            id="org.neo4j.neoclipse.view.NeoGraphViewPart"
            name="Neo4j Graph">
      </view>
   </extension>
   <extension
         point="org.eclipse.core.runtime.preferences">
      <initializer
            class="org.neo4j.neoclipse.preference.NeoPreferenceInitializer">
      </initializer>
   </extension>
   <extension
         point="org.eclipse.ui.preferencePages">
      <page
            category="Neo4j"
            class="org.neo4j.neoclipse.preference.NeoPreferencePage"
            id="org.neo4j.neoclipse.preference.NeoPreferencePage"
            name="Neo4j">
      </page>
   </extension>
   <extension
         point="org.eclipse.ui.perspectives">
      <perspective
            class="org.neo4j.neoclipse.perspective.NeoPerspectiveFactory"
            icon="icons/obj16/neo-16.png"
            id="org.neo4j.neoclipse.NeoPerspective"
            name="Neo4j">
      </perspective>
   </extension>
   
    <extension
        id="application"
        point="org.eclipse.core.runtime.applications">
        <application
        cardinality="singleton-global"
        thread="any"
        visible="true">
            <run
                class="org.neo4j.neoclipse.Application">
            </run>
        </application>
    </extension> 
    <extension id="neoclipseProduct" point="org.eclipse.core.runtime.products">
     <product name="Neoclipse" application="org.eclipse.ui.ide.workbench" description="Neoclipse Workbench">
        <property
              name="appName"
              value="Neoclipse">
        </property>
        <property
              name="startupForegroundColor"
              value="FFFFFF">
        </property>
        <property
              name="startupMessageRect"
              value="7,250,441,20">
        </property>
        <property
              name="startupProgressRect"
              value="0,280,455,15">
        </property>
        <property
              name="preferenceCustomization"
              value="plugin_customization.ini">
        </property>
        <property
              name="aboutImage"
              value="icons/splash.png">
        </property>
        <property
              name="windowImages"
              value="icons/obj16/neo-16.png">
        </property>
    </product>
  </extension>
    <extension
          point="org.eclipse.search.searchPages">
       <page
             class="org.neo4j.neoclipse.search.NeoSearchPage"
             icon="icons/obj16/neo-16.png"
             id="org.neo4j.neoclipse.search.NeoSearchPage"
             label="Neo4j Search">
       </page>
    </extension>
    <extension
          point="org.eclipse.search.searchResultViewPages">
       <viewPage
             class="org.neo4j.neoclipse.search.NeoSearchResultPage"
             icon="icons/obj16/neo-16.png"
             id="org.neo4j.neoclipse.search.NeoSearchResultPage"
             label="Neo4j Search Result"
             searchResultClass="org.neo4j.neoclipse.search.NeoSearchResult">
       </viewPage>
    </extension>
 
</plugin>
