<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension
         point="org.eclipse.ui.views">
      <category
            id="org.neo4j.neoclipse"
            name="Neo4j">
      </category>
      <view
            allowMultiple="false"
            category="org.neo4j.neoclipse"
            class="org.neo4j.neoclipse.view.NeoGraphViewPart"
            icon="icons/enabled/neo.gif"
            id="org.neo4j.neoclipse.view.NeoGraphViewPart"
            name="Database graph"
            restorable="true">
      </view>
      <view
            category="org.neo4j.neoclipse"
            class="org.neo4j.neoclipse.reltype.RelationshipTypeView"
            icon="icons/enabled/types.gif"
            id="org.neo4j.neoclipse.reltype.RelationshipTypeView"
            name="Relationship types">
      </view>
       <view
             allowMultiple="false"
             category="org.neo4j.neoclipse"
             class="org.neo4j.neoclipse.connection.ConnectionsView"
             icon="icons/enabled/newconnection.gif"
             id="org.neo4j.neoclipse.connection.ConnectionsView"
             name="Connections"
             restorable="true">
      </view>
       <view
             allowMultiple="false"
             category="org.neo4j.neoclipse"
             class="org.neo4j.neoclipse.editor.SqlEditorView"
             icon="icons/enabled/cypher_editor.gif"
             id="org.neo4j.neoclipse.editor.SqlEditorView"
             name="Cypher Editor">
       </view>
   </extension>
   <extension
         point="org.eclipse.core.runtime.preferences">
      <initializer
            class="org.neo4j.neoclipse.preference.PreferenceInitializer">
      </initializer>
      <initializer
            class="org.neo4j.neoclipse.preference.DecoratorPreferenceInitializer">
      </initializer>
   </extension>
   <extension
         point="org.eclipse.ui.preferencePages">
      <page
            class="org.neo4j.neoclipse.preference.PreferencePage"
            id="org.neo4j.neoclipse.preference.PreferencePage"
            name="Neo4j">
      </page>
      <page
            class="org.neo4j.neoclipse.preference.DecoratorPreferencePage"
            id="org.neo4j.neoclipse.preference.DecoratorPreferencePage"
            name="Graph Decorations"
            category="org.neo4j.neoclipse.preference.PreferencePage">
      </page>
   </extension>
   <extension
         point="org.eclipse.ui.perspectives">
      <perspective
            class="org.neo4j.neoclipse.perspective.NeoPerspectiveFactory"
            icon="icons/enabled/neo.gif"
            id="org.neo4j.neoclipse.NeoPerspective"
            name="Neo4j">
      </perspective>
   </extension>
    <extension
        id="org.neo4j.neoclipse.application"
        point="org.eclipse.core.runtime.applications">
        <application
        cardinality="singleton-global"
        thread="main"
        visible="true">
            <run
                class="org.neo4j.neoclipse.Application">
            </run>
        </application>
    </extension> 
    <extension
          point="org.eclipse.search.searchPages">
       <page
             class="org.neo4j.neoclipse.search.NeoSearchPage"
             icon="icons/enabled/neo.gif"
             id="org.neo4j.neoclipse.search.NeoSearchPage"
             label="Neo4j Search">
       </page>
    </extension>
    <extension
          point="org.eclipse.search.searchResultViewPages">
       <viewPage
             class="org.neo4j.neoclipse.search.NeoSearchResultPage"
             icon="icons/enabled/neo.gif"
             id="org.neo4j.neoclipse.search.NeoSearchResultPage"
             label="Neo4j Search Result"
             searchResultClass="org.neo4j.neoclipse.search.NeoSearchResult">
       </viewPage>
    </extension>
    <extension
          point="org.eclipse.ui.perspectiveExtensions">
       <perspectiveExtension
             targetID="org.eclipse.ui.resourcePerspective">
          <perspectiveShortcut
                id="org.neo4j.neoclipse.NeoPerspective">
          </perspectiveShortcut>
       </perspectiveExtension>
    </extension>
</plugin>
